.env
venv/
# dont track images
frame*.jpg
# Block any folder starting with 202
202*/
# Block any specific image inside any 202 folder 
202*/*.jpg
.vscode/
__pycache__/
backend/yolo26n.pt

# React ignores
## Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local
## Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
ARCHITECTURE.png
learnings.md
ideas.txt
image.png
image-*/*.png

